<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <title>View Teacher</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5" th:text="${teacher.person.firstName} + ' ' + ${teacher.person.lastName}">First Name Last Name</h1>
        <button class="btn btn-secondary mb-3" onclick="window.history.back()">Back</button>
        <div class="card mt-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Username</h6>
                <p class="card-text" th:text="${teacher.username}">Username</p>
                <h6 class="card-subtitle mb-2 text-muted">Password</h6>
                <p class="card-text" th:text="${teacher.password}">Password</p>
                <h6 class="card-subtitle mb-2 text-muted">Date of Birth</h6>
                <p class="card-text" th:text="${#temporals.format(teacher.person.dateOfBirth, 'yyyy-MM-dd')}">Date of Birth</p>
                <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                <p class="card-text" th:text="${teacher.person.email}">Email</p>
                <h6 class="card-subtitle mb-2 text-muted">Phone Number</h6>
                <p class="card-text" th:text="${teacher.person.phoneNumber}">Phone Number</p>
                <h6 class="card-subtitle mb-2 text-muted">Courses</h6>
                <ul>
                    <li th:each="course : ${teacher.courses}" th:text="${course.courseName}">Course Name</li>
                </ul>
                <h6 class="card-subtitle mb-2 text-muted">Roles</h6>
                <ul>
                    <li th:each="role : ${teacher.roles}" th:text="${role.name}">Role Name</li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>
