<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>No Group Assigned</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">No Group Assigned</h1>
        <p th:text="${errorMessage}"></p>
        <button class="btn btn-secondary mb-3" onclick="window.history.back()">Back</button>
    </div>
</main>
</body>
</html>
