<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>Welcome to University CMS</title>
</head>
<body>
<main layout:fragment="content">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to University CMS!</h1>
        <p class="lead">This is a simple content management system for managing university-related information.</p>
        <hr class="my-4">
        <p>Use the navigation bar to access different sections of the CMS.</p>
    </div>
</main>
</body>
</html>
