<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title th:text="${schedule.scheduleId} == null ? 'Create Schedule' : 'Edit Schedule'">
        Create Schedule - University CMS
    </title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5" th:text="${schedule.scheduleId} == null ? 'Create Schedule' : 'Edit Schedule'">
            Create Schedule
        </h1>
        <a class="btn btn-secondary mb-3" th:href="@{/schedules}">Back to schedule list</a>
        <a class="btn btn-danger mb-3 float-end"
				data-bs-toggle="modal" data-bs-target="#deleteScheduleModal"
				th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') 
					or hasRole(''ROLE_REGISTRAR'')') and schedule.scheduleId != null}">
				Delete	schedule
		</a>
        <form th:action="${schedule.scheduleId} == null ? @{/schedules/schedule-create} : @{/schedules/edit/{id}(id=${schedule.scheduleId})}"
              th:object="${schedule}" method="post">
            <input type="hidden" th:field="*{scheduleId}"/>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="lessonStart" class="form-label">Start Time</label>
                    <input type="datetime-local" class="form-control" id="lessonStart"
                           th:field="*{lessonStart}" required>
                </div>

                <div class="col-md-4">
                    <label for="lessonDuration" class="form-label">Lesson Duration</label>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="setLessonDuration(30)">30 min
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="setLessonDuration(45)">45 min
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="setLessonDuration(60)">60 min
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="setLessonDuration(90)">90 min
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="lessonEnd" class="form-label">End Time</label>
                    <input type="datetime-local" class="form-control" id="lessonEnd"
                           th:field="*{lessonEnd}" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="course" class="form-label">Course</label>
                    <select class="form-select" id="course" th:field="*{course.courseId}" 
                            th:attr="data-selected=${schedule.course.courseId}" required></select>
                </div>
                <div class="col-md-3">
                    <label for="teacher" class="form-label">Teacher</label>
                    <select class="form-select" id="teacher" th:field="*{teacher.userId}" 
                            th:attr="data-selected=${schedule.teacher.userId}" required></select>
                </div>
                <div class="col-md-3">
                    <label for="lessonType" class="form-label">Lesson Type</label>
                    <select class="form-select" id="lessonType" th:field="*{lessonType.lessonTypeId}" required>
                        <option th:each="lessonType : ${lessonTypes}" th:value="${lessonType.lessonTypeId}"
                                th:text="${lessonType.name}"></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="classroom" class="form-label">Classroom</label>
                    <select class="form-select" id="classroom" th:field="*{classroom.classroomId}" 
                            th:attr="data-selected=${schedule.classroom.classroomId}" required></select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"
                    th:text="${schedule.scheduleId} == null ? 'Create Schedule' : 'Update Schedule'">
                Create Schedule
            </button>
            <a th:href="@{/schedules}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
	
	<!-- Delete Schedule Modal -->
    <div class="modal fade" id="deleteScheduleModal" tabindex="-1" aria-labelledby="deleteScheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteScheduleModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this schedule?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a th:href="@{/schedules/delete/{id}(id=${schedule.scheduleId})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
	
    <script th:inline="javascript">
        const scheduleId = /*[[${schedule.scheduleId} ?: 0]]*/ 0;
        const selectedCourseId = /*[[${schedule.course.courseId}]]*/ '';
        const selectedTeacherId = /*[[${schedule.teacher.userId}]]*/ '';
        const selectedClassroomId = /*[[${schedule.classroom.classroomId}]]*/ '';
        const lessonStartTime = /*[[${schedule.lessonStart}]]*/ '';
        const lessonEndTime = /*[[${schedule.lessonEnd}]]*/ '';
    </script>

    <script th:src="@{/js/schedule.js}"></script>
</main>
</body>
</html>
