<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>Groups List</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">Groups List</h1>
        	<a class="btn btn-success mb-3" 
        	th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_REGISTRAR'')')}"
        	th:href="@{/groups/group-create}">Add New Group</a>
        <table class="table table-hover table-bordered mt-3">
            <thead>
                <tr class="table-light">
                    <th>Group Name</th>
                    <th>Students count</th>
                    <th>Actions</th>                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="group : ${groups}">
                    <td th:text="${group.groupName}"></td>
                    <td th:text="${#lists.size(group.students)}"></td>
                    <td>
                        <a th:href="@{/groups/{id}(id=${group.groupId})}" class="btn btn-primary">View</a>
                    </td>                   
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
