<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>Group Details</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5" th:text="${group.groupName}">Group Name</h1>
        <button class="btn btn-secondary mb-3" onclick="window.history.back()">Back</button>
        <h2 class="mt-4">Enrolled Students</h2>       
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${group.students}">
                    <td th:text="${student.person.firstName}"></td>
                    <td th:text="${student.person.lastName}"></td>
                    <td th:text="${student.person.email}"></td>
                    <td>
                        <a th:href="@{/students/{id}(id=${student.userId})}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
                
        <button class="btn btn-secondary mb-3" onclick="window.history.back()">Back</button>
    </div>
</main>
</body>
</html>