<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>Create Group - University CMS</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">Create Group</h1>
        <a class="btn btn-secondary mb-3" th:href="@{/groups}">Back to groups list</a>
        <form th:action="@{/groups/group-create}" th:object="${group}" method="post">
        
            <div class="mb-3">
                <label for="groupName" class="form-label">Group Name</label>
                <input type="text" class="form-control" id="groupName" th:field="*{groupName}" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>
</body>
</html>
